<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crypto Today</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
        <style>
            @font-face {
              font-family: "Ndot-55";
              font-weight: 400;
              font-style: normal;
              font-display: swap;
              src: url("//cdn.shopify.com/s/files/1/0586/3270/0077/t/62/assets/Ndot-55.otf?v=18522138017450180331673318995"); 
            }
          </style>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div class="bgm-gif-container">
            <img src="https://tinyurl.com/2suv7hxz" alt="nft" id="nft-gif">
            <img src="https://tinyurl.com/2dnszvja" alt="crypto" id="crypto-gif">
        </div>
        <div class="container">
            <div class="title-bar">
                <div id="title"><p>WORLD OF CRYPTO</p></div>
                <div id="searchbar-container">
                    <div>
                        <input type="text" name="" id="search-bar" placeholder="search crypto">
                        <img style="cursor: pointer;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAVFJREFUSEvVleExBEEQRt9FQAoiQATIgAgQASJABIgAESACZEAEyIAIqKd6qub2Zmen7N4P/eu2dqdf99dfz81YcsyWnJ8+wCpwBOwCG1HEC3APXAGfrYWVAAfABSCkFCY/AW5aIF2Aya/j4ANwCTzF8zZwBmzF8150VOXkACt+i8oPKxUKOQ2Z1obkygHpoJWrfS3syk7Oo6veb3OAQ1wHdjJZ+g4q1yPgmc1aJTngOz5stW7T92MBXxW3/db7V4mc0R3wDChX0wzSkF0mLdgyZPdBKzcBtOk7sBLO0CGlSIV8xJZXt7o70NS6ibWiyZTBUAr9nyQZtGh3Bqlat9m27aQUDtb3wrSpv2/7NKpddsexcO6G8RpXgwmVJe2N77yX3P6FaPV86Wx+b/VCxgBS0v2MvtDJWMAgZApAFzJ3E08FSBCtPfdHNCWg6NT/D/gBeOVFGZeTouUAAAAASUVORK5CYII="/>
                    </div>
                    <div class="search-results hidden">
                    </div>
                </div>
            </div>
            <div class="content-part">
                <div class="latest-trend-head">
                    <div class="crypto-heading" id="heading"><p>NAME</p><p>MARKET CAP (RS)</p><p>VALUE (RS)</p><p>VOLUME (RS)</p></div>
                </div>
                <div class="latest-trend">
                </div>
                <div class="news-and-invest">
                    <div class="latest-news-main">
                        <div style="padding-top: 10px; padding-left: 10px; letter-spacing: normal; color: antiquewhite; font-size: 40px; position: sticky; z-index: 5; background-color: #95074070;">LATEST NEWS</div>
                        <div class="latest-news"></div>
                    </div>
                    <div class="invest-box-main">
                        <div style="padding-top: 10px; padding-left: 10px; letter-spacing: normal; color: antiquewhite; font-size: 40px; position: sticky;">INVEST ?</div>
                        <div class="invest-box">
                            <div><a href="https://coindcx.com/" target="_blank">--COIN DCX--</a></div>
                            <div><a href="https://zerodha.com/" target="_blank">--ZERODHA--</a></div>
                            <div><a href="https://wazirx.com/" target="_blank">--WAZIRX--</a></div>
                        </div>
                    </div>
                </div>
                <div class="mining-info" style="margin-top: 20px;">
                    <div style="padding-top: 10px; padding-left: 10px; letter-spacing: normal; color: antiquewhite; font-size: 40px; position: sticky; background-color: #95074070;">MINING MACHINES</div>
                    <div class="mining-info-inps"></div>
                </div>
            </div>
        <footer>
            <div>
                <div id="footerdiv-1">
                    <div>SUPPORT</div>
                    <div>ABOUT</div>
                    <div>CAREER</div>
                </div>
                <div id="footerdiv-2">
                    <div>ADDRESS</div>
                </div>
            </div>
            <div id="copyright-tag">&copy; COPYRIGHT -- WORLD OF CRYPTO </div>
        </footer>
        </div>
        <script src="/static/script.js" async defer></script>
    </body>
</html>
